jupyter nbconvert --to python YOURNOTEBOOKNAME.ipynb

List Practice

In [83]:
my_new_list = ["dude","55"]
print(my_new_list)
dude55 = my_new_list[0]+my_new_list[1]
print(dude55)
my_int = int(my_new_list[1])
print(my_int)
my_substring = dude55[2:5]
print(my_substring)
my_range = range(3,26,3)
print(list(my_range))

['dude', '55']
dude55
55
de5
[3, 6, 9, 12, 15, 18, 21, 24]

Dictionaries Practice

In [84]:
nyc={'manhattan':'work','brooklyn':'play','best borough':'brooklyn'}
type(nyc)
print(nyc.keys())
print(nyc.values())
print(nyc.items())

nyc['queen'] = 'england'
nyc.items()

del nyc['brooklyn']
nyc.items()

dict_keys(['manhattan', 'brooklyn', 'best borough'])
dict_values(['work', 'play', 'brooklyn'])
dict_items([('manhattan', 'work'), ('brooklyn', 'play'), ('best borough', 'brooklyn')])

dict_items([('manhattan', 'work'), ('best borough', 'brooklyn'), ('queen', 'england')])

In [86]:
nyc['queen']
nyc['other boroughs'] = ['bronx','staten island']
print(nyc['best borough'])
nyc['new jersey'] = 'city'
nyc['other boroughs'] = ['bronx','staten island']
#print(nyc.items())
nyc['other boroughs'] = [nyc['other boroughs'][0].upper(), nyc['other boroughs'][1].upper()]
nyc.items()

brooklyn

dict_items([('manhattan', 'work'), ('best borough', 'brooklyn'), ('queen', 'england'), ('other boroughs', ['BRONX', 'STATEN ISLAND']), ('new jersey', 'city')])

Functions Practice

In [68]:
def compute_pay(hours,rate):
    #print(hours*rate)
    return hours*rate

print(compute_pay(40,10.50))

def get_hours_worked(total_pay,rate):
    return float(total_pay)/rate
print(get_hours_worked(500,10))

420.0
50.0

In [87]:
for i in range(1,11):
    print(i+7, end = ' ')

8 9 10 11 12 13 14 15 16 17

In [88]:
##List Comprehension

words = ['yo','hello','awesome']
list_words = [i.upper() for i in words]
print(list_words)
word = 'fancy'
list_word = [i.upper() for i in word]
print(list_word)

def awesome_sauce():
    for i in range(1,101):
        if i%2 ==0 and i%7==0:
            print('awesome sauce')
        elif i%2 == 0:
            print('awesome')
        elif i%7 == 0:
            print('sauce')
        else:
            print(i)

awesome_sauce()

['YO', 'HELLO', 'AWESOME']
['F', 'A', 'N', 'C', 'Y']
1
awesome
3
awesome
5
awesome
sauce
awesome
9
awesome
11
awesome
13
awesome sauce
15
awesome
17
awesome
19
awesome
sauce
awesome
23
awesome
25
awesome
27
awesome sauce
29
awesome
31
awesome
33
awesome
sauce
awesome
37
awesome
39
awesome
41
awesome sauce
43
awesome
45
awesome
47
awesome
sauce
awesome
51
awesome
53
awesome
55
awesome sauce
57
awesome
59
awesome
61
awesome
sauce
awesome
65
awesome
67
awesome
69
awesome sauce
71
awesome
73
awesome
75
awesome
sauce
awesome
79
awesome
81
awesome
83
awesome sauce
85
awesome
87
awesome
89
awesome
sauce
awesome
93
awesome
95
awesome
97
awesome sauce
99
awesome

Get Data From CSV

In [141]:
import csv

with open('C:/Users/Madhumita.Ganesan/Desktop/DataScience/data/vertebral_column_2_categories.txt','r') as f:
    vertebral_data= [row for row in csv.reader(f)]
    
for line in vertebral_data[0:5]:
    print(line)

['63.03 22.55 39.61 40.48 98.67 -0.25 AB']
['39.06 10.06 25.02 29 114.41 4.56 AB']
['68.83 22.22 50.09 46.61 105.99 -3.53 AB']
['69.3 24.65 44.31 44.64 101.87 11.21 AB']
['49.71 9.65 28.32 40.06 108.17 7.92 AB']

Get data from internet

In [106]:
import requests

r = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

iris_data = [row.decode('utf-8') for row in r.iter_lines()]

for line in iris_data[:5]:
    print(line)

5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,Iris-setosa
5.0,3.6,1.4,0.2,Iris-setosa

In [139]:
## SPlit Iris Data items on commas

import requests
r= requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris_data=[row.decode('utf-8') for row in r.iter_lines()]

##List Comprehension
iris_data_split1 = [dude.split(",") for dude in iris_data]

print("List Comprehension version - Data Split")
print(iris_data_split1[:5])

##For Loop
iris_data_split2 = []
for i in iris_data:
    iris_data_split2.append(i.split(","))

print("Loop version - Data Split")
print(iris_data_split2[:5])

##Numeric entries on each item in iris_data
##List COmprehension

iris_data_numeric1 = [[float(var) for var in line.split(",")[:-1]] for line in iris_data]
print("List Comprehension version - Convert numeric")
print(iris_data_numeric1[:5])

## For Loop
converted_list = []
print("Loop version - Convert Numeric")
for line in iris_data:
    split1 = line.split(",")[:-1]
    converted_line_numbers = [float(num) for num in split1]
    converted_list.append(converted_line_numbers)
    
for line in converted_list[:5]:
        print(line)

List Comprehension version - Data Split
[['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], ['4.9', '3.0', '1.4', '0.2', 'Iris-setosa'], ['4.7', '3.2', '1.3', '0.2', 'Iris-setosa'], ['4.6', '3.1', '1.5', '0.2', 'Iris-setosa'], ['5.0', '3.6', '1.4', '0.2', 'Iris-setosa']]
Loop version - Data Split
[['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], ['4.9', '3.0', '1.4', '0.2', 'Iris-setosa'], ['4.7', '3.2', '1.3', '0.2', 'Iris-setosa'], ['4.6', '3.1', '1.5', '0.2', 'Iris-setosa'], ['5.0', '3.6', '1.4', '0.2', 'Iris-setosa']]
List Comprehension version - Convert numeric
[[5.1, 3.5, 1.4, 0.2], [4.9, 3.0, 1.4, 0.2], [4.7, 3.2, 1.3, 0.2], [4.6, 3.1, 1.5, 0.2], [5.0, 3.6, 1.4, 0.2]]
Loop version - Convert Numeric
[5.1, 3.5, 1.4, 0.2]
[4.9, 3.0, 1.4, 0.2]
[4.7, 3.2, 1.3, 0.2]
[4.6, 3.1, 1.5, 0.2]
[5.0, 3.6, 1.4, 0.2]

In [140]:
jupyter nbconvert --to python 01-Intro_to_Python-Exercise.ipynb

SyntaxError: invalid syntax (<ipython-input-140-4e20f23822d6>, line 1)