In [63]:
import pandas as pd
import numpy as np

In [64]:
print("Pandas version is ",pd.__version__)
print("Numpy version is ",np.__version__)

Pandas version is  0.24.2
Numpy version is  1.16.4

In [65]:
pwd

'C:\\Users\\Madhumita.Ganesan\\Desktop\\DataScience\\Practice_Code'

In [210]:
##Understanding Dataframe in Pandas 
data = [1,2,3,4,5,6]   ##creating a list of elements
df = pd.DataFrame(data)
print("List dataframe is :\n" , df)

data_dict = {'Name':['John','Mary','Tina','Henry'],'Age':[10,23,34,10],'Address':['Chicago','NY','Boston','California']}
df1=pd.DataFrame(data_dict)
print("Dictionalry dataframe is :\n",df1)
print("The first row that appears is an index of the Dataframe")

data_dict2= {'Name':['John','Mary','Tina','Henry'],'Age':[10,23,34,10],'Address':['Chicago','NY','Boston','California']}
df2 = pd.DataFrame(data_dict2)
df2.set_index(df2['Name'],inplace=True)
print(df2)

List dataframe is :
    0
0  1
1  2
2  3
3  4
4  5
5  6
Dictionalry dataframe is :
     Name  Age     Address
0   John   10     Chicago
1   Mary   23          NY
2   Tina   34      Boston
3  Henry   10  California
The first row that appears is an index of the Dataframe
        Name  Age     Address
Name
John    John   10     Chicago
Mary    Mary   23          NY
Tina    Tina   34      Boston
Henry  Henry   10  California

In [202]:
##Rows of Dataframe can be accessed using the index column using loc[]
df.loc[3]
df1.loc[1]

Name       Mary
Age          23
Address      NY
Name: 1, dtype: object

In [66]:
rating_data = pd.read_csv('C:/Users/Madhumita.Ganesan/Desktop/DataScience/data/movieData/movieData/ratings.dat')

In [69]:
type(rating_data)

pandas.core.frame.DataFrame

In [70]:
rating_data.head()

   1::1193::5::978300760
0   1::661::3::978302109
1   1::914::3::978301968
2  1::3408::4::978300275
3  1::2355::5::978824291
4  1::1197::3::978302268

In [71]:
rating_data=pd.read_csv('C:/Users/Madhumita.Ganesan/Desktop/DataScience/data/movieData/movieData/ratings.dat',sep='::',names=['UserId','MovieId','Ratings','TimeStamp'])

c:\users\madhumita.ganesan\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [72]:
print(rating_data.head(),"\n", rating_data.tail())

   UserId  MovieId  Ratings  TimeStamp
0       1     1193        5  978300760
1       1      661        3  978302109
2       1      914        3  978301968
3       1     3408        4  978300275
4       1     2355        5  978824291
          UserId  MovieId  Ratings  TimeStamp
1000204    6040     1091        1  956716541
1000205    6040     1094        5  956704887
1000206    6040      562        5  956704746
1000207    6040     1096        4  956715648
1000208    6040     1097        4  956715569

In [73]:
rating_data.dtypes
rating_data.columns

Index(['UserId', 'MovieId', 'Ratings', 'TimeStamp'], dtype='object')

In [78]:
print("Unique values in Rating column is \n",rating_data.Ratings.unique())
print("Number of unique values in Rating column is \n",rating_data.Ratings.nunique())

## Other way of using columns
print("Unique values in User ID is \n",rating_data['UserId'].unique())
print("Number of Unique values in User ID is \n",rating_data['UserId'].nunique())

rating_data[["Ratings","UserId"]][0:5]

multiple_columns = ["Ratings","UserId"]
rating_data[multiple_columns]

Unique values in Rating column is
 [5 3 4 2 1]
Number of unique values in Rating column is
 5
Unique values in User ID is
 [   1    2    3 ... 6038 6039 6040]
Number of Unique values in User ID is
 6040

         Ratings  UserId
0              5       1
1              3       1
2              3       1
3              4       1
4              5       1
5              3       1
6              5       1
7              5       1
8              4       1
9              4       1
10             5       1
11             4       1
12             4       1
13             4       1
14             5       1
15             4       1
16             3       1
17             4       1
18             5       1
19             4       1
20             3       1
21             3       1
22             5       1
23             5       1
24             3       1
25             5       1
26             4       1
27             4       1
28             4       1
29             3       1
...          ...     ...
1000179        4    6040
1000180        3    6040
1000181        4    6040
1000182        4    6040
1000183        4    6040
1000184        4    6040
1000185        1    6040
1000186        5    6040
1000187        1    6040
1000188        4    6040
1000189        5    6040
1000190        4    6040
1000191        4    6040
1000192        5    6040
1000193        4    6040
1000194        5    6040
1000195        2    6040
1000196        4    6040
1000197        3    6040
1000198        3    6040
1000199        5    6040
1000200        5    6040
1000201        4    6040
1000202        4    6040
1000203        3    6040
1000204        1    6040
1000205        5    6040
1000206        5    6040
1000207        4    6040
1000208        4    6040

[1000209 rows x 2 columns]

In [79]:
rating_data.columns

Index(['UserId', 'MovieId', 'Ratings', 'TimeStamp'], dtype='object')

In [80]:
pd.to_datetime?

In [81]:
rating_data['Formatted_Timestamp'] = pd.to_datetime(rating_data.TimeStamp,unit='s')

In [82]:
print("Columns before removal",rating_data.columns)
del rating_data["TimeStamp"]
print("Columns after removal",rating_data.columns)

Columns before removal Index(['UserId', 'MovieId', 'Ratings', 'TimeStamp', 'Formatted_Timestamp'], dtype='object')
Columns after removal Index(['UserId', 'MovieId', 'Ratings', 'Formatted_Timestamp'], dtype='object')

In [83]:
rating_data.columns
rating_data.head()
rating_data.dtypes

UserId                          int64
MovieId                         int64
Ratings                         int64
Formatted_Timestamp    datetime64[ns]
dtype: object

In [84]:
rating_data['month']=  rating_data.Formatted_Timestamp.dt.month

In [85]:
rating_data.head()
(numrows,numcolumns)=rating_data.shape     ## Declaring as a tuple
[numrows1,numcolumns1]=rating_data.shape   ## Declaring as a list
print("Num rows is :",numrows1)
print("Num columns is :",numcolumns1)

Num rows is : 1000209
Num columns is : 5

In [86]:
rating_data.columns     #No. of attributes in the dataset

Index(['UserId', 'MovieId', 'Ratings', 'Formatted_Timestamp', 'month'], dtype='object')

In [87]:
nummovies= rating_data.MovieId.unique().shape  ##How many movies are in the dataset
numusers= rating_data.UserId.nunique()        ##How many users are in the dataset
numyears=rating_data.Formatted_Timestamp.dt.year.nunique()   ##How many unique years are in the movie dataset

print("Num of movies are :",nummovies[0],"\n","Num of users are :",numusers,"\n Num of years are :",numyears)

Num of movies are : 3706
 Num of users are : 6040
 Num of years are : 4

In [88]:
print("Average mean of the dataset is : ",rating_data.mean())
print("Average Rating or mean of the dataset is : ",rating_data.Ratings.mean())
print("Median Rating of the dataset is : ",rating_data.Ratings.median())
print("Mode Rating of the dataset is : ",rating_data.Ratings.mode())
print("Standard Deviation of rating of dataset is ",rating_data.std())

Average mean of the dataset is :  UserId     3024.512348
MovieId    1865.539898
Ratings       3.581564
month         8.710371
dtype: float64
Average Rating or mean of the dataset is :  3.581564453029317
Median Rating of the dataset is :  4.0
Mode Rating of the dataset is :  0    4
dtype: int64
Standard Deviation of rating of dataset is  UserId     1728.412695
MovieId    1096.040689
Ratings       1.117102
month         2.717470
dtype: float64

In [89]:
crappy_ratings=rating_data.Ratings < 3
crappy_ratings.value_counts()
print("Crappy rating :\n",crappy_ratings.head())
crappy_rating=rating_data[crappy_ratings]
crappy_rating.head()
print("Number of unique crappy ratings are :",crappy_rating.Ratings.nunique())
print("Unique crappy ratings are :",crappy_rating.Ratings.unique())
print("Number of crappy ratings are :",crappy_rating.shape[0])
print("Crappy rating is :",crappy_rating.head())
print("Rating data is :",rating_data.head())

Crappy rating :
 0    False
1    False
2    False
3    False
4    False
Name: Ratings, dtype: bool
Number of unique crappy ratings are : 2
Unique crappy ratings are : [2 1]
Number of crappy ratings are : 163731
Crappy rating is :     UserId  MovieId  Ratings Formatted_Timestamp  month
67       2     1213        2 2000-12-31 21:34:18     12
73       2      434        2 2000-12-31 22:02:54     12
75       2     3107        2 2000-12-31 22:00:02     12
83       2      902        2 2000-12-31 21:41:45     12
91       2     3256        2 2000-12-31 21:57:19     12
Rating data is :    UserId  MovieId  Ratings Formatted_Timestamp  month
0       1     1193        5 2000-12-31 22:12:40     12
1       1      661        3 2000-12-31 22:35:09     12
2       1      914        3 2000-12-31 22:32:48     12
3       1     3408        4 2000-12-31 22:04:35     12
4       1     2355        5 2001-01-06 23:38:11      1

In [90]:
rating_jan=rating_data.Formatted_Timestamp.dt.month == 1
rating_crappy_jan=crappy_rating.Formatted_Timestamp.dt.month == 1

print("Rating data for Jan is \n",rating_jan.head())
print("Crappy data for Jan is \n",rating_crappy_jan.head())

Rating data for Jan is
 0    False
1    False
2    False
3    False
4     True
Name: Formatted_Timestamp, dtype: bool
Crappy data for Jan is
 67    False
73    False
75    False
83    False
91    False
Name: Formatted_Timestamp, dtype: bool

In [91]:
rating_jan_df=rating_data[rating_jan]
#rating_crapjan_df=rating_data[rating_crappy_jan]
print("Rating data for January",rating_jan_df.head())

rating_crapjan_df=crappy_rating[rating_crappy_jan]
print("Crappy rating for January",rating_crapjan_df.head())

Rating data for January     UserId  MovieId  Ratings Formatted_Timestamp  month
4        1     2355        5 2001-01-06 23:38:11      1
10       1      595        5 2001-01-06 23:37:48      1
16       1     2687        3 2001-01-06 23:37:48      1
23       1      527        5 2001-01-06 23:36:35      1
25       1       48        5 2001-01-06 23:39:11      1
Crappy rating for January       UserId  MovieId  Ratings Formatted_Timestamp  month
1017      10      932        2 2001-01-10 23:06:25      1
1078      10     1639        2 2001-01-10 23:03:15      1
1201      11     1682        1 2001-01-07 21:23:06      1
1206      11     2706        2 2001-01-07 21:18:06      1
1207      11      586        1 2001-01-07 21:52:36      1

In [92]:
avg_rating_jan=round(rating_jan_df.Ratings.mean(),3)
print("Average rating in Jan is :",avg_rating_jan)

avg_craprating_jan=round(rating_crapjan_df.Ratings.mean(),3)
print("Average rating in Jan is :",avg_craprating_jan)

Average rating in Jan is : 3.543
Average rating in Jan is : 1.698

In [93]:
jan_mask= rating_data.month==1
jan_mask.value_counts()

jan_df = rating_data[jan_mask]
jan_df.shape

#print(jan_df.head())

round(jan_df.Ratings.mean(),3)

3.543

In [94]:
### Grouping functions in Pandas
rating_data.columns
rating_data.head()

   UserId  MovieId  Ratings Formatted_Timestamp  month
0       1     1193        5 2000-12-31 22:12:40     12
1       1      661        3 2000-12-31 22:35:09     12
2       1      914        3 2000-12-31 22:32:48     12
3       1     3408        4 2000-12-31 22:04:35     12
4       1     2355        5 2001-01-06 23:38:11      1

In [95]:
monthgroups=rating_data.groupby("month")
#print(monthgroups.describe())
#type(monthgroups)
rating_data.month.value_counts()   ##This is the same as grouping per month, and taking the size
ratingspermonth=monthgroups.size()
ratingspermonth

month
1      23072
2      12128
3       8537
4      19407
5      74278
6      61110
7      97004
8     188674
9      56791
10     45500
11    295461
12    118247
dtype: int64

In [97]:
month_with_most_rating = ratingspermonth[ratingspermonth == ratingspermonth.max()]

In [103]:
##What was the average rating given to movies in each month of the year?

rating_data['year'] = rating_data.Formatted_Timestamp.dt.year
rating_data.columns
groups = rating_data.groupby(["month","year"])
#print(groups.describe()

monthgroups.Ratings.agg([np.mean,np.size,np.std])
avg_rating_month_year=groups.Ratings.agg([np.mean])
avg_rating_month_year

                mean
month year
1     2001  3.543657
      2002  3.557525
      2003  3.511339
2     2001  3.551500
      2002  3.473558
      2003  3.455882
3     2001  3.528358
      2002  3.279951
4     2000  3.553352
      2001  3.471282
      2002  3.488732
5     2000  3.613447
      2001  3.460822
      2002  3.556782
6     2000  3.633906
      2001  3.472797
      2002  3.475959
7     2000  3.630073
      2001  3.476600
      2002  3.398425
8     2000  3.572174
      2001  3.467670
      2002  3.269067
9     2000  3.609717
      2001  3.541111
      2002  3.446249
10    2000  3.620419
      2001  3.415602
      2002  3.557199
11    2000  3.571671
      2001  3.594203
      2002  3.549266
12    2000  3.585019
      2001  3.496568
      2002  3.494462

In [120]:
##Remove users with too few ratings (lets say < 30) and reanswer these same questions
user_groups = rating_data.groupby("UserId")
#rating_data.columns

def enoughratings(currgroup):
    return currgroup.Ratings.size >= 30

filtered_ratings = user_groups.filter(enoughratings)
filtered_rating1 =user_groups.filter(lambda currgroup: currgroup.Ratings.size >= 30)

filtered_rating1.head()
#print(filtered_rating1.shape)

print("Original number of rows is :",rating_data.shape[0])
print("Filtered data is :",filtered_rating1.shape[0])

Original number of rows is : 1000209
Filtered data is : 982040

In [140]:
user_id_1 = rating_data.UserId == 1
user_id_1_df = rating_data[user_id_1]

user_id_1_df.shape[0]
user_id_1_df

user_group_small = user_id_1_df.groupby("UserId")
user_group_small.describe()

user_group_small_filtered = user_group_small.filter(lambda x: x.Ratings.size >= 30)

print(user_id_1_df.shape[0])
print(user_group_small_filtered.shape[0])
user_id_1_df.head()

53
53

   UserId  MovieId  Ratings Formatted_Timestamp  month  year
0       1     1193        5 2000-12-31 22:12:40     12  2000
1       1      661        3 2000-12-31 22:35:09     12  2000
2       1      914        3 2000-12-31 22:32:48     12  2000
3       1     3408        4 2000-12-31 22:04:35     12  2000
4       1     2355        5 2001-01-06 23:38:11      1  2001

In [143]:
## Exercice 1
#rating_data.Formatted_Timestamp.dt.year.value_counts()#What were the ID(s) of the average highest-rated movie in the first half of the year for those movies that were rated at least 5 times within that timespan?rating_data.columns

Index(['UserId', 'MovieId', 'Ratings', 'Formatted_Timestamp', 'month', 'year'], dtype='object')

In [164]:
#Which user rated the most number of movies

rating_data.UserId.value_counts().head(1)

4169    2314
Name: UserId, dtype: int64

In [165]:
# Which movie ID got the highest average rating
movieGroups = rating_data.groupby('MovieId')
avgratingperMovie = movieGroups.Ratings.mean()
highestrating = avgratingperMovie ==avgratingperMovie.max()
avgratingperMovie[highestrating]

MovieId
787     5.0
989     5.0
1830    5.0
3172    5.0
3233    5.0
3280    5.0
3382    5.0
3607    5.0
3656    5.0
3881    5.0
Name: Ratings, dtype: float64

In [169]:
## Which movie ID had the most varied rating (highest standard deviation)
moviegroups=rating_data.groupby('MovieId')
stddevrating=moviegroups.Ratings.std()
max_var_movie = stddevrating[stddevrating == stddevrating.max()]

In [175]:
## Cont of those movies that have been rated at least 5 times

rating_data.columns
moviegroups=rating_data.groupby('MovieId')
movie_filter = moviegroups.filter(lambda x:x.Ratings.size >= 5)
movie_filter_groups = movie_filter.groupby('MovieId')

movie_filter_groups.

TypeError: 'int' object is not callable

In [177]:
## In which month were the raters most generous on avergae
monthgroups = rating_data.groupby('month')
month_group_filter = monthgroups.Ratings.mean()
maxMonthmask = month_group_filter == month_group_filter.max()
print(month_group_filter[maxMonthmask])

month
7    3.617985
Name: Ratings, dtype: float64

In [178]:
## Which month had the most variation in rating
monthgroups = rating_data.groupby('month')
group_std_dev = monthgroups.Ratings.std()
MaxStdMask = group_std_dev == group_std_dev.max()
print(group_std_dev[MaxStdMask])

month
5    1.137355
Name: Ratings, dtype: float64

In [179]:
## Which user had the most variation in rating
usergroups = rating_data.groupby('UserId')
UserVariation = usergroups.Ratings.std()
MaxUserVarMask = UserVariation == UserVariation.max()
print(UserVariation[MaxUserVarMask])

UserId
87    1.861354
Name: Ratings, dtype: float64

In [184]:
## On what day of the week did the users rate the most movies
rating_data['day']= rating_data.Formatted_Timestamp.dt.dayofweek
daygroups = rating_data.groupby('day').Ratings.size()
print(daygroups[daygroups == daygroups.max()])

day
0    173931
Name: Ratings, dtype: int64

In [185]:
## Which hour in the day did the users rate most movies
rating_data['hour'] = rating_data.Formatted_Timestamp.dt.hour
hourgroupsRating = rating_data.groupby('hour').Ratings.size()
print(hourgroupsRating[hourgroupsRating == hourgroupsRating.max()])

hour
21    65491
Name: Ratings, dtype: int64

In [187]:
#9. What hour in the day had the highest average movie rating?
hourgroups = rating_data.groupby('hour')
AvgMovieRating = hourgroups.Ratings.mean()

print(AvgMovieRating[AvgMovieRating == AvgMovieRating.max()])

hour
13    3.633886
Name: Ratings, dtype: float64

In [189]:
#10. Which user gave movies the highest average rating?
usergroups = rating_data.groupby('UserId')
user_high_rating = usergroups.Ratings.mean()
print(user_high_rating[user_high_rating == user_high_rating.max()])

UserId
283    4.962963
Name: Ratings, dtype: float64